:root {
  --color-surface: #FFE5C6;
  --color-primary: #2563EB;
  --color-danger: #DC2626;
  --color-bonus2L: #ABE6FF;
  --color-bonus3L: #FFD46C;
  --color-bonus2W: #7DE07A;
  --color-bonus3W: #FF9E78;
  --color-textHigh: #1F2937;
  --color-textLow: #6B7280;
}
